DATABASE_URL=postgres://supermanager:password@127.0.0.1:5432/supermanager?sslmode=disable
OPENAI_API_KEY=
SUPERMANAGER_DATA_DIR=./.supermanager-data
SUPERMANAGER_PUBLIC_API_URL=https://api.supermanager.dev
SUPERMANAGER_PUBLIC_APP_URL=https://supermanager.dev
SUPERMANAGER_WORKOS_API_KEY=
SUPERMANAGER_WORKOS_CLIENT_ID=
SUPERMANAGER_WORKOS_BASE_URL=https://api.workos.com
SUPERMANAGER_WORKOS_ISSUER=https://api.workos.com
SUPERMANAGER_WORKOS_MEMBER_ROLE=member
SUPERMANAGER_WORKOS_EMAIL_INVITE_DAYS=7
